#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;


  
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #3e5d5d;
  color: #fff; 
  padding: 1rem 2rem;
  width: 100%;
  align-items: center;
  cursor: pointer;
  
}

.nav-left {
  margin-left: 3rem;
  letter-spacing: 0.6rem;
} 


.nav-right {
  display: flex;
  gap: 2rem

}

.blog-form {
  padding: 20px;
  background: #c5e4f3;
 
  
  
}



form{
  margin: 0 auto;
  width: 500px;
  padding-top: 40px;
  color: white;
  position: relative;
  height: 100%; 
  border-radius: 49px;
  background: #41adc8;
  box-shadow:  6px 6px 12px #3997ae,
             -6px -6px 12px #49c3e2;  
  overflow: hidden;
  position: relative;
  padding: 2rem;
 

  
  
}


 .listBlogs {
  background-image: url(./assets/backgroundpicture.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
 }



.long-text {
  max-height: 10rem;
  overflow: hidden;
  position: relative;
  transition: max-height 0.5s;
  
}

.text {
  max-height: none;
  
}


.card {
transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
margin-top: 4rem;
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}



.listBlogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10rem;
  



}